.cardHabilidades{
   display: flex;
   gap: 0.4rem;
   text-align: center;
   align-items: center;
   justify-content: center;
   padding: 0 1rem;
}
.cardHabilidades h2:hover + h3{
   color: #d946ef;
}
.cardHabilidades h3{
   font-size: 35px;
   color: #fae8ff;
}
.cardHabilidades h2{
   font-size: 35px;
   color: #fae8ff;
   padding-top: 5px;
}